body {
  font-family: 'Poppins', sans-serif;
  color: #333;
  background-color: #fff;
}

/* Header */
.logo {
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.nav-link {
  font-weight: 500;
  transition: color 0.3s ease;
}
.nav-link:hover {
  color: #000;
}

/* Hero Section */
#hero {
  background: url('../images/ImageContainer.png') no-repeat center center/cover;
  height: 526px; 
  position: relative;
  display: flex;
  align-items: center;
}

#hero .container {
  display: flex;
  justify-content: flex-end; 
}

.hero-content {
  top: 50px;  
  left: 50%;  
  transform: translate(-50%, -80%); 
}

/* Button styling */
.btn-light {
  color: #000;
  background-color: #fff;
  border: none;
  transition: 0.3s;
}

.btn-light:hover {
  background-color: #ddd;
}



.image-overlay {
    background-color: rgba(0, 0, 0, 0.85); 
    
    z-index: 10; 
    
    position: absolute; 
    bottom: -10px;
    width: 50%;

    padding: 1rem 0; 
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-overlay span {
    color: white; 
}
.custom-product-height {
    height: 638px; 
}

.custom-product-height img {
    height: 100%;

}

.image-overlay-full {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-color: rgba(0, 0, 0, 0.85); 
    
    z-index: 10; 
    
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.image-overlay-full span {
    color: white;
}

footer {
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .hero-text {
    text-align: center;
  }
  .hero-image img {
    max-width: 80%;
    margin: 0 auto;
    display: block;
  }
  .nav {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.nav-link.active {
  background-color: #f0f0f0;
  border-radius: 5px;
}
